div.mud-main-content.main-content {
    background: linear-gradient(180deg, #96F 0%, #000 100%) !important;
    margin-top: 64px;
    height: 100vh;
}

header.mud-appbar.mud-appbar-fixed-top.mud-elevation-2.mud-theme-surface {
    background-color: rgba(55,55,64,1);
}
